* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}

span {
    font-weight: bold;
}
header, footer {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
}

.photo {
    display: inline-block;
    margin: 20px;
    position: relative;
}

.photo img {
    width: 200px;
    height: auto;
    transition-duration: 0.3s;
    transition-behavior: ease-in-out;
}

.photo img:hover {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.10);
}

.photo img:active {
    box-shadow: none;
    border: 2px solid #000000;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table tr:nth-child(even) {
    background-color: lightblue;
}

table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}
.work-experience-header {
    display: flex;
    justify-content: space-between;
}
.education-header {
    display: flex;
    justify-content: space-between;
}
.competencies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.competencies-item {
    overflow-y: auto;
    height: 300px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.competencies::-webkit-scrollbar {
    width: 5px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-to-top {
    text-decoration: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #0056b3;
}
